
/*********************************
Top Logo
*****************************/
.main-logo img {
    
 width: 400px;
height: auto;
    
    
}


.main-logo {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
width: 400px;
height: 80px;
}

/*********************************
Header
*****************************/
.main-nav {
 text-align: center;
border: aliceblue;
list-style: none;
height: 80px;
padding-top: 10px;
padding-bottom: 10px;
}




/*********************************
Body
*****************************/

.mission {
text-align: center;
border-top: 0px;
    }

.main-content  {
font-family: 'Merriweather', serif;    
font-size: 30px;
text-shadow: 4px 4px 4px #aaa;   
text-align: center;
margin: auto;
border: 3px aliceblue;
padding: 15px;
height: auto;
width: auto;
border: 10px;
border-style: solid;
border-color: aliceblue;
background-color: gainsboro;
}



body {
font-family: 'Merriweather', serif;    
font-size: 20px;
text-shadow: 4px 4px 4px #aaa;   
text-align: center;
margin:auto;
border: 3px aliceblue;
padding: 15px;
height: auto;
width: auto;
border: 10px;
border-style:solid;
border-color: aliceblue;
background-color: gainsboro;
}

h2 {
font-size: 40px;
color: black;
    
}




ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}


.logo {
text-align: center;
margin:auto;
border: 3px aliceblue;
padding: 10px;
height: auto;
width: auto;
border: 10px;
border-style:solid;
border-color: aliceblue
}



/*********************************
Contact Page
*****************************/
    form {
        color: aliceblue;
    }


input {
    margin: 8px;
}



/*********************************
Footer
*****************************/

footer {
 text-align: center;
background-color: aliceblue;   
}


/*********************************
Media Queries
*****************************/

    
        
 @media screen and (min-width: 768px){
    .main-logo {
      float: left;  
        
    } 
    
}       
    
    
@media screen and (min-width: 992px){

    .main-logo {
      float: left;  
        
    }
    
    nav li {
        display: inline;
       font-size: 150%;
        padding: 0 10px;
        
        
    }  
}


@media screen and (min-width: 1200px){
    
    } 
        
    















