
/*********************************
Top Logo
*****************************/

.main-logo {
padding-top: 10px;
padding-bottom: 10px;
background-color: aliceblue;
text-align: center;
}

/*********************************
Header
*****************************/
.main-nav {
 text-align: center;
border: aliceblue;
list-style: none;
}




/*********************************
Body
*****************************/

.mission {
text-align: center;
border-top: 0px;
    }

.container  {
font-family: 'Merriweather', serif;    
font-size: 30px;
text-shadow: 4px 4px 4px #aaa;   
text-align: center;
margin: auto;
border: 3px aliceblue;
padding: 15px;
height: auto;
width: auto;
border: 10px;
border-style: solid;
border-color: aliceblue;
background-color: gainsboro;
}



body {
font-family: 'Merriweather', serif;    
font-size: 20px;
text-shadow: 4px 4px 4px #aaa;   
text-align: center;
margin:auto;
border: 3px aliceblue;
padding: 15px;
height: auto;
width: auto;
border: 10px;
border-style:solid;
border-color: aliceblue;
background-color: gainsboro;
}

input {
    margin: 8px;
}




ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}


.logo {
text-align: center;
margin:auto;
border: 3px aliceblue;
padding: 10px;
height: auto;
width: auto;
border: 10px;
border-style:solid;
border-color: aliceblue
}

/*********************************
Partnerships
*****************************/
.partnerships {
text-align: center;
margin: auto;
border: 3px aliceblue;
padding: 15px;
height: auto;
width: auto;
border: 10px;
border-style:solid;
border-color: aliceblue
}

.partnershiplogo {
width: 400px;
height: 200px;
 margin-top: 20px;   
    
    
    
}



/*********************************
Contact Page
*****************************/
    form {
        color: aliceblue
    }





/*********************************
Footer
*****************************/

footer {
 text-align: center;
background-color: aliceblue;   
}


/*********************************
Media Queries
*****************************/
@media screen and (min-width: 320px){
  
    
}
    
        
 @media screen and (min-width: 480px){
    
    
}       
    
    
@media screen and (min-width: 720px){
 
    
    nav li {
        display: inline;
       font-size: 150%;
        padding: 0 10px;
        
        
    }  
}


@media screen and (min-width: 960px){
    
    } 
        
    

















